@font-face{

    font-family: MontserratB;
    src: url('font/Montserrat-ExtraBold.ttf');
    
}

@font-face{

    font-family: MontserratM;
    src: url('font/Montserrat-Medium.ttf');
}

@font-face{

    font-family: MontserratL;
    src: url('font/Montserrat-Light.tff');

}

@font-face{

    font-family: MontserratR;
    src: url('font/Montserrat-Regular.ttf');

}

html, body{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: MontserratB;
}

.card {

    display: block;
    height: 100vh;
    width: 100%;

}

.intro {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background: url(../images/background.png) no-repeat center;
    color: #ffffff;
    text-align: center;
}

