@font-face{

    font-family: MontserratB;
    src: url('../font/Montserrat-ExtraBold.ttf');
    
}

@font-face{

    font-family: MontserratM;
    src: url('../font/Montserrat-Medium.ttf');
}

@font-face{

    font-family: MontserratL;
    src: url('../font/Montserrat-Light.ttf');

}

@font-face{

    font-family: MontserratR;
    src: url('../font/Montserrat-Regular.ttf');

}

html, body{

    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: MontserratL;

}

h1 {

    font-family: MontserratB;

}

.sec {

    display: block;
    height: 100vh;
    width: 100%;

}

.intro {

    margin: 0;
    padding: 0;
    background: url(../images/background.png) no-repeat center;
    color: #ffffff;
    text-align: center;

}

.tech-pro {

    display: flex;

}

.tech-pro-content {

    height: 100%;
    width: 50%;
    margin: 0;
    background-color: green;
    text-align: center;
    

}

.tc-title{

    font-size: 1.75rem;
    margin-left:19%;
    margin-right: 19%;
    padding-top: 10%;
    padding-bottom: 10px;
    border-bottom: 2px black solid;

}

.tc-title h1{

    margin:0;
    padding: 0;

}   

.tc-content{

    margin-left: 10%;
    margin-right: 10%;
    font-size:3rem;

}

.tech-background{

    background: url(../images/tech-prof1.png) no-repeat center;
    background-size: cover;
    height: 100%;
    width:50%;

}

/* mag-ingat delete if everything can be flex */
.team{

    display:flex;

}

.team-background{

    background: url(../images/team-bg1.png) no-repeat center;
    background-size: cover;
    height: 100%;
    width:50%;

}

.team-content {

    height: 100%;
    width: 50%;
    margin: 0;
    background-color: green;
    text-align: center;

}

.contact{

    background-size: cover;
     
}

.contact-title{
    
    text-align: center;
    margin-left:40%;
    margin-right: 40%;
    width: auto;
    padding-top: 2.5%; 
    padding-bottom: 5px;
    border-bottom: solid black 2px;

}

.contact-group{

    margin-top:2.5%;
    height:80%;
    width:100%;
    display: inline-flex;

}

.contact-member{

    width: 33.33%;
    height: 100%;

}

.c-img{

    margin-top:10px;
    margin-left: 30%;
    margin-right: 30%; 
    width: 40%;
    height: auto;;
    border-radius: 50%;

}

.question{

    text-align: center;
    height: 100vh;
    width: 100%;

}

.question-title-header{

    padding-top:2.5%;

}

.question-body {

    margin-top:15%;

}