@font-face{

    font-family: MontserratB;
    src: url('../font/Montserrat-ExtraBold.ttf');
    
}

@font-face{

    font-family: MontserratM;
    src: url('../font/Montserrat-Medium.ttf');

}

@font-face{

    font-family: MontserratL;
    src: url('../font/Montserrat-Light.ttf');

}

@font-face{

    font-family: MontserratR;
    src: url('../font/Montserrat-Regular.ttf');

}

html, body{

    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: MontserratL;

}

.content{

    position: absolute;
    z-index: 100;
    background-color: transparent;
    width: 100%;

    .sec{

        background-color: transparent;
        width: 100%;

    }

    .tech-background{

        text-align: center;
        display: block;
        padding-top: 17.5%;
        height: 75vh;


        .tb-title{

            font-size: 5rem;
            font-weight: bold;
            color: white;
            vertical-align: middle;


        }

        .tb-subtitle{

            font-size: 3rem;
            color: white;

        }

    }

    .ai{

        color: white;
        height: 75vh;


        .ai-part{

            display:inline-flex;
            text-align: center;
            width: 40%;


        }

        .title{

            padding-top: 15%;
            margin-left:5%;
            width: 40%;
            font-size: 4.5rem;
            vertical-align: middle;

        }

        .content{

            word-wrap: normal;
            padding-top: 15%;   
            font-size: 2rem;
            margin-left: 7.5%;
            vertical-align: middle;


            p{

                width: 100%;

            }

        }
        
    }

    .ai-bg{

        color: white;
        vertical-align: middle;
        height: 75vh;


        .part-ai-bg{

            display:inline-flex;
            text-align: center;
            width: 40%;

        }

        .title-ai-bg{

            margin-left:5%;
            width: 40%;
            font-size: 4.5rem;
            vertical-align: middle;
            padding-top: 5%;

        }

        .content-ai-bg{

            word-wrap: normal;   
            font-size: 2rem;
            margin-left: 10%;
            vertical-align: middle;
            padding-top: 7.5%;

            p{

                width: 100%;

            }

            ul{
                
                list-style: none;

            }
        }
        

    }

    .ai-uses{

        display: block;
        margin-top: 10%;
        height: 100%;    

        .example-title{
            color: white;
            text-align:center;
            padding-top: 2.5%;

            .main-example-title{
                font-size: 4rem;
                margin-right: 16.5%;
                margin-left: 16.5%;
            }

            .sub-example-title{
                padding-top: 10px;
                font-size: 1.5rem;
            }
        }

        .example-content{

            display: block;

            
            .example{

                margin-top: 100px;
                height: 300px;
                background-color:transparent;
                width: 100%;

                .contain-examples{

                    
                    .ex-img-cont{

                        display:block;

                        .ex-img{

                            height : 250px;
                            width : 400px;
                            border: 5px solid white;

                        }

                    }

                    .ex-title{

                        font-size: 5rem;
                        font-family: MontserratM;
                        color: white;

                    }

                    .rightitle{

                        padding-top: 7%;
                        margin-left: 12%;

                    }

                    .leftitle{

                        padding-top: 7%;
                        margin-right: 15%;
                        text-align: right;

                    }

                }
                   

            }

            .leftie{

                margin-left: 10%;
                float:left;
                

            }

            .rightie{

                margin-right: 10%;
                float:right;

            }

        }
    }

    .fintech{

        color: white;
        height: 75vh;
        display: inline-flex;
        padding-top: 15%;   

        .fin-part{

            text-align: center;
            width: 40%;

        }

        .title{
        
            padding-top: 3%;
            margin-left:5%;
            width: 40%;
            font-size: 4.5rem;
            vertical-align: middle;


        }

        .content{

            padding-top: 0%;
            word-wrap: normal;
            font-size: 2rem;
            vertical-align: middle;
            margin-left: 50%;
            width: 45%;

        }

        
    }

    .fintechxai{

        color: white;
        

        .titlex{

            font-size: 4rem;
            text-align: center;
        }

        .contentx{

            margin-top: 10%;

            .examplex{

                display:inline;
                Background-color: red;
                    
                    .examplex-title{

                        padding-top: 20%;
                        font-size: 2.5rem;
                        margin-left: 10%;
                        font-weight: bold;

                    }

                    .examplex-description{

                        font-size: 1.5rem;
                        width: 40%;
                        text-align: justify;
                        margin-left: 10%;
                        margin-bottom: 20%;

                    
                }

                .examplex-vidz{


                    .vidz{

                        height: 100vh;
                        width: 100%;
                 
                    }

                }
            }
        }
    }


}

canvas{

    display:block;
    vertical-align:bottom;
  
}  

#particles-js{

    width: 100%;    
    background-color: #127029;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    z-index: -100;

}
  