---
import { cn } from "$lib/utils";

interface Props {
  class?: string;
  span?: string;
}

const { class: className, span = "col-span-1" } = Astro.props;
---

<div class={cn("border-r border-b border-border p-6 relative group overflow-hidden", span, className)}>
  <div class="absolute top-2 right-2 opacity-0 group-hover:opacity-100 transition-opacity duration-300">
    <div class="w-2 h-2 bg-foreground/20"></div>
  </div>
  <slot />
</div>
